{% extends 'base.html' %}

{% block head-block %}
<div class='container'>
<h1>Taking Care of Homeless</h1>
</div>
{% endblock head-block %}

{% block content-block %}
<div class='container'>
    <form method="POST"> {% csrf_token %}
        {{ form.non_field_errors }}
        <p>
        {{ form.category.error }}
        <label for="{{ form.category.id_for_label }}">Categoy: </label>
        {{ form.category }}
        </p>
        <p>
        {{ form.image.error }}
        <label for="{{ form.image.id_for_label }}">Image: </label>
        {{ form.image }}
        <p>
        {{ form.color.error }}
        <label for="{{ form.color.id_for_label }}">Color: </label>
        {{ form.color }}
        </p>
        <p>
        {{ form.building.error }}
        {{ form.room.error }}
        <label for="{{ form.building.id_for_label }}">Location of Found: </label>
        {{ form.building }} {{ form.room }}
        </p>
        <p>
        {{ form.date.error }}
        <label for="{{ form.date.id_for_label }}">Date of Found: </label>
        {{ form.date }}
        </p>
        <p>
        {{ form.description.error }}
        <label for="{{ form.description.id_for_label }}">Description: </label>
        {{ form.description }}
        </p>
        
        <br>
        <button type="submit" class="btn btn-primary">Edit</button>
        <a class="btn btn-primary" href="../" role="button">Cancel</a>
    </from>
</div>
{% endblock content-block %}