{% extends 'pages/base.html' %}

{% block head-block %}
<div class='container'>
<h1>Search Items</h1>
</div>
{% endblock head-block %}

{% block content-block %}
<div class="container">
    <form method="GET" name='q'>
    {{ form.non_field_errors }}
    <p>
        {{ form.category.errors }}
        <label for="{{ form.category.id_for_label }}"><strong>Categoy: </strong></label>
        {{ form.category }}

        {{ form.building.errors }} {{ form.room.errors }}
        <label for="{{ form.building.id_for_label }}"><strong>Location of Lost: </strong></label>
        {{ form.building }} {{ form.room }}
    </p>
    <p>
    {{ form.from_date.errors }} 
    {{ form.to_date.errors }}
    <p>Time of Lost: 
        <br>
        <div class="container">
        <label for="{{ form.from_date.id_for_label }}">From: </label>
        {{ form.from_date }} 
        <label for="{{ form.to_date.id_for_label }}">To: </label>
        {{ form.to_date}}
        </div>
    </p>
    <p>
        {{ form.retrieved.errors }}
        <label for="{{ form.retrieved.id_for_label }}"><strong>Retrieved Status: </strong></label>
        {{ form.retrieved }}
        {{ form.color.errors }}
        <label for="{{ form.color.id_for_label }}">Color: </label>
        {{ form.color }}
    </p>
    <p>
        {{ form.orderBy.errors }}
        <label for="{{ form.orderBy.id_for_label }}">Order By: </label>
        {{ form.orderBy }}
    </p>

    <button type="submit" class="btn btn-primary">Search</button>
    <a class="btn btn-primary" href="../" role="button">Cancel</a> 
    </form>
</div>
<br>
{% endblock content-block %}

{% block search-result-block %}
{% endblock search-result-block %}