
{% extends 'pages/base.html' %}

{% block title-block %}
<title>Item {{item.pk}}</title>
{% endblock title-block %}

{% block head-block %}
<div class="container">
<h1>Editing Item</h1>
</div>
{% endblock head-block %}

{% block content-block %}
<div class="container">
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        {{ form.non_field_errors }}
        <p>
        {{ form.category.errors }}
        <label for="{{ form.category.id_for_label }}">Categoy: </label>
        {{ form.category }}
        </p>
        <p>
        {{ form.image.errors }}
        <label for="{{ form.image.id_for_label }}">Image: </label>
        {% if item.image %}
        <br>
        <img src="{{ item.image.url }}" width="240" height="240"/>
        <br>
        {% else %}
        No Image
        {% endif %}
        {{ form.image }}
        </p>
        <p>
        {{ form.color.errors }}
        <label for="{{ form.color.id_for_label }}">Color: </label>
        {{ form.color }}
        </p>
        <p>
        {{ form.building.errors }}
        {{ form.room.errors }}
        <label for="{{ form.building.id_for_label }}">Location of Found: </label>
        {{ form.building }} {{ form.room }}
        </p>
        <p>
        {{ form.date.errors }}
        <label for="{{ form.date.id_for_label }}">Date of Found: </label>
        {{ form.date }}
        </p>
        <p>
        {{ form.description.errors }}
        <label for="{{ form.description.id_for_label }}">Description: </label>
        {{ form.description }}
        </p>
        <p>
        {{ form.retrieved.errors }}
        <label for="{{ form.retrieved.id_for_label }}">Retrieve Status: </label>
        {{ form.retrieved }}
        </p>
        {% if item.retrieved %}
        <p>
        <label for="{{ form.retrieve_user.id_for_label }}">Retrieved By: </label>
        {{ item.retrieve_user }}
        </p>
        <p>
        <label for="{{ form.retrieved_date.id_for_label }}">Retrieved On: </label>
        {{ item.retrieved_date }}
        </p>
        {% endif %}
        
        <br>
        <button type="submit" class="btn btn-primary">Edit</button>
        <a class="btn btn-primary" href="{% url 'items:search_item'%}" role="button">Back</a> 
    </form>
</div>
{% endblock content-block %}