{% extends 'base.html' %}

{% block titl-block %}
<title>Register</title>
{% endblock %}

{% block head-block %}
<div>
<h1>Register New Account</h1>
</div>
{% endblock %}



{% block content-block %}
<div class="container">
    <form method='POST'>    {% csrf_token %}
        {{ register_form.non_field_errors }}
        {{ profile_form.non_field_errors }}
        <p>
        {{ register_form.username.errors }}
        <label for="{{ register_form.username.id_for_label }}">User Name: </label>
        {{ register_form.username }}
        </p>
        <p>
        {{ profile_form.employeeID.errors }}
        <label for="{{ profile_form.employeeID.id_for_label }}">Employee ID: </label>
        {{ profile_form.employeeID }}
        </p>
        <p>
        {{ register_form.password1.errors }}
        <label for="{{ register_form.password1.id_for_label }}">Password: </label>
        {{ register_form.password1 }}
        </p>
        <p>
        {{ register_form.password2.errors }}
        <label for="{{ register_form.password2.id_for_label }}">Password Confirm: </label>
        {{ register_form.password2 }}
        </p>
        <p>
        {{ register_form.first_name.errors }}
        <label for="{{ register_form.first_name.id_for_label }}">First Name: </label>
        {{ register_form.first_name }}
        </p>
        <p>
        {{ register_form.last_name.errors }}
        <label for="{{ register_form.last_name.id_for_label }}">Last Name: </label>
        {{ register_form.last_name }}
        </p>
        <p>
        {{ register_form.email.errors }}
        <label for="{{ register_form.email.id_for_label }}">Email Address: </label>
        {{ register_form.email }}
        </p>
        <p>
        {{ profile_form.phone.errors }}
        <label for="{{ profile_form.phone.id_for_label }}">Phone Number: </label>
        {{ profile_form.phone }}
        </p>
        <input type="submit" value="Register" >
    </form>
</div>
{% endblock content-block %}